/* Body  */
body {
    font-family: 'Helvetica', sans-serif;
    background-color: #f8f9fa;
    padding-top: 56px; 
}

/* Navigation Bar  */
.navbar {
    background-color: #343a40;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}

.card-header h1 {
    font-size: 24px;
}

.modal-content {
    border-radius: 0;
}

.modal-header {
    background-color: #000000;
    color: #fff;
    border-bottom: none;
}

.modal-body {
    padding: 20px;
}

/* Additional styling for the product list */
#productList {
    margin-top: 20px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}

img {
    width: 10%;
    height: 10%;
}